<?xml version='1.0' encoding='utf-8'?>
<widget id="com.BucketList.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>BucketList App</name>
    <description>
        Ionic Restify and MongoDB - An End to End Hybrid App
    </description>
    <author email="admin@thejackalofjavascript.com" href="http://thejackalofjavascript.com/">
      Arvind Ravulvaru
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="phonegap-version" value="3.3.0" />
    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
</widget>
