.margin {
    margin - left: 9px;
    margin - right: 9px;
}

.icon-actions {
    font-size: 23px;
}


.checkbox {
    vertical-align: middle;
}

.actions {
    float: right;
}

.item-text-wrap {
    overflow: auto;
}

.ion-checkmark-circled.icon-actions.margin
{
	margin-right: 35px;
}